body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#edeeef, white);
    width: 100vw;
    height: 100vh;
}

.main-container {
  margin: auto;
  margin-top: 1rem;
  background: white;
  padding: 5rem;
  border-radius: 2rem;
  border: 1px solid rgba(0,0,0,0.2);
}

button {
    background-color: #327997 !important;
    border-color: #327997 !important;
    color: white !important;
    display: block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.85rem 1.5rem;
    font-size: 1.7rem !important;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-top: 1rem !important;
}

#button:hover {
    background: linear-gradient(to top left, #327997, #c7d8e2);
}

.button-container {
}

.counter-container {
  margin-top: 1rem;
  text-align: center;
}

.counter-container h2 {
  font-size: 1.7rem;
}

.counter-container h1 {
  font-size: 2.8rem;
}

#reset {
  text-decoration: none;
  color: blue;
  font-size: 1.2rem;
}

#reset:hover {
  background: lightblue;
  padding: 0.2rem 1.5rem;
  border-radius: 0.4rem;
}

hr {
  margin-top: 1.5rem;
  background: black;
}
